name: Playwright Tests
on:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]
jobs:
    test:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: lts/*

            - name: Install dependencies
              run: npm ci

            - name: Install wait-on
              run: npm install -g wait-on

            - name: Install Playwright Browsers
              run: npx playwright install --with-deps

            - name: Build the application
              run: npm run build

            - name: Start the application
              run: npm run start-prod &

            - name: Wait for application to be ready
              run: npx wait-on http://localhost:5000 --timeout 60000

            - name: Run Playwright tests
              run: npx playwright test

            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
